.bottom-part {
  padding: 16px;
}

.bottom-part-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-container {
  height: 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
}

.author-container {
  width: 248px;
  height: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}


