.bottom-part {
  padding: 16px;
}

.title-container {
  height: 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
}

.author-container {
  width: 276px;
  height: 20px;
  line-height: 20px;
  color: #212121;
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
.author-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
