.bottom-part {
  padding: 16px;
}

.bottom-part-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-container {
  height: 52px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
}

.author-container {
  width: 248px;
  height: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
}

.progress-display {
  height: 12px;
  width: 335px;
  border-radius: 8px;
  display: flex;
}

.progress-word {
  color: #9c9c9c;
}

.progress-percent {
  color: #4ce77b;
}

.progress-green-part {
  background: linear-gradient(90deg, #4ce77b 0%, #73f49a 100%);
  width: 227px;
  height: 100%;
  border-radius: 8px;
}

.progress-white-part {
  background: #f0f0f0;
  height: 100%;
  width: 108px;
}

.options-button {
  height: 36px;
  width: 36px;
}

.options-button img {
  height: 100%;
  width: 100%;
}
